/* work sans font from google */
@import url(
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
);

*{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #131313;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav  ul{
    display: flex ;
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner section styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    color:  #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-des{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;

}
.banner img{
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams styles */
.team-container{
    display: flex;
    align-items: center;
    padding: 50px 30px 0px 130px;
}
.teams-tmg{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2rem;
}
.team-title .a{
    color: #727272;
    font-weight: 500;
}
.team-title .c{
    color: #FF900E;
    font-weight: 700;
}
.team-des{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
}
/* features section styles */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
    padding: 0px 120px;
}
.features-content .card{
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.nokta{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.features-img img{
    height: 90%;
    
}
.ten{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 242px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 120px;
    left: -100px;
}
.ten h2{
    font-size: 3rem;
    margin: 0;

}
.ten p{
    font-size: 1rem;

}
/* facts styles */
.facts{
    padding-left: 130px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 100px 0px 50px;
}
.card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}
.card-container .card-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 5px;
    color: #727272;

}
.card-container .card-stat {
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* sponsors styles */
.sponsors{
    text-align: center;
}
.sponsor-title{
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #131313;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
}
/* footer styles */
footer{
    background: #111010;
    align-items: center;
    padding: 50px;

}

.footer-p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

/* responsive styles */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container,
    .card-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
    }
    .sponsors-img-container img{
        width: 165px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }
    .features-img img{
        width: 100%;
        margin: 0;
        
    }
    .ten{
        position: static;
        width: 150px;
        height: 50px;
    }
    .ten h2{
        font-size: 2rem;
        margin: 0;
    
    }
    .ten p{
        font-size: 1rem;
    
    }
    .teams-tmg{
        grid-template-columns: 1fr;
    }
    .facts, .team-container{
        padding-left: 0px;
    }
    .facts, .features{
        text-align: center;
    }
}
@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .team-container, .sponsors-img-container, .features{
        flex-direction: column;
    }
    .team-content, .card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .card-container{
        gap: 20px;
    }
    
    .facts, .team-container{
        padding-left: 0px;
    }
    .facts, .features{
        text-align: center;
    }
}